.Transport {
  background-color: #ccc;
}

.Title {
  text-align: center;
  font-weight: bold;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #eee;
}

.Content {
  padding: 8px;
  text-align: center;
}

.MetadataLine {
  margin-bottom: 4px;
}

.TransportInfo {
  text-align: left;
  margin: auto;
  margin-top: 2px;
}

.TransportInfo td {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
}

.Link {
  cursor: pointer;
  color: #2351a5;
  font-weight: bold;
}