.PlayQueue {
  display: flex;
  flex-direction: column;
  background-color: #ccc;
}

.SectionTitle {
  text-align: center;
  font-weight: bold;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #eee;
}

.List {
  flex: 1;
}

.ListItem {
  padding-left: 8px;
  padding-right: 8px;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  cursor: pointer;
}

.ListItem div:nth-child(1) {
  padding-right: 8px;
}

.ListItem div:nth-child(2) {
  flex: 1;
}

.RowNumber {
}

.RowTitle {
  font-weight: bold;
}

.RowSubtitle {
  font-size: 10px;
}

.Odd {
  background-color: #eee;
}

.Playing {
  background-color: #ddffdd;
}
