.Session{
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
}

.Session input {
  font-size: 16px;
  padding: 4px;
  margin: 4px;
  border-radius: 4px;
}

.Session button {
  text-align: right;
  margin: 4px;
  padding: 4px;
}

.Session .Label {
  color: #ddd;
  text-align: right;
  font-size: 14px;
}

.Connected {
  display: none;
}

.Disconnected {
  display: flex;
  background-color: #000000cc;
  background-size: cover;
}
