html, body, .App, .MainContent {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 12px;
}

.App {
  margin: 8px;
  box-shadow: 0px 0px 4px #888;
}

.MainContent {
  display: flex;
  flex-direction: column;
}

.DisconnectedBlur {
  filter: blur(6px);
}

.MainContent div:nth-child(2) {
  flex: 1;
}
